<!DOCTYPE html>
<html ng-model="myApp">
<head>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
</head>
<body ng-app="myApp">
    <h1 ng-controller="HelloWorldCtrl">{{message}}</h1>

       <h2>Corona Info</h2>
       <!-- <div ng-controller="inputController"> -->
           <div ng-controller="mixController">
        <form>
            <input type="text" id="text" name="text" ng-model="country">
            <input type="button" id="submit" value="Submit" ng-click="submit(country)">
            <br>
            Country: {{country}}
            <p></p>
        </form>
        <p></p>
       <!-- <div ng-controller="httpController"> -->
           <p></p>
           <h2>Corona Info</h2> 
        {{coronaInfo}}
    <!-- </div> -->
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
<script src="controllerONE.js"></script>
</html>