.title{
    margin-top: 10px ;
    text-align: center;
}

body.body_css{
    background: linear-gradient(to right, rgb(212, 65, 65), rgb(237, 245, 241));
}

div.container{
    margin-top: 10vh;
    background: transparent;
    text-align: center;
    width: 50%;
    font-weight: bold;
}

input.ghost-input{
margin-right: 10px;
margin-left: 10px;
text-align: center;
}

input.btn.btn-info{
    margin-top: 5px;
    margin-bottom: 25px;
    align-content: center;
}

input.btn.btn-secondary{
    margin-top: 5px;
    margin-bottom: 5px;
    align-content: center;
}

li.ticket_numbers {
    list-style-type: none;
    text-align: left;
}

/* Matrix Part */
* {
    margin: 0;
    padding: 0;
  }
  
  body.home {
    background: #000;
  }
  canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  div.welcome {
    margin-top: 100px;
  }
  
  h1.intro {
    color: white;
    display: block;
    margin-left: center;
    text-align: center;
    margin-right: center;
  }
  
  div.buttonPlace {
    margin-right: center;
    margin-left: center;
    text-align: center;
    display: block;
  }

  h1.test {
    color: green;
  }