<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Testing ServiceNow App</title>
    <!-- <script src="../client/functions_for_html.js" type="text/javascript"></script> -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>
  <body class="body_css">
    <div class="title">
      <h1>Welcome to the ServiceNow App!</h1>
    </div>
    <div class="container">
      <fieldset>
        <form action="/" method="POST">
          <input name="firstName" value="Abel" type="text" class="ghost-input" placeholder="Enter Your First Name" required>
          <input name="lastName" value="Tuter" type="text" class="ghost-input" placeholder="Enter Your Last Name" required>
          <p></p>
          <input type="submit" class="btn btn-info" value="Press here">
        </form>
        <div class="infoFromServer_sysID">
          <%if(ticketInfo !== null){%>
          <p><%= ticketInfo %></p>
          <% } %>
</div>
<div>
          <%if(ticketInfo !== null){%>
            <p>
              <p><%= ticketInfoText %></p>
              <ul>
              <% for(var i=0;i<ticketNumber.length;i++) { %>
                  <li class="ticket_numbers">
                      <%= ticketNumber[i] %>
                      <form action='/edit_ticket/1' method="GET">
                      <input type="submit" class="btn btn-secondary" value="Edit">
                    </form>
                  </li>
              <% } %>
          </ul>
        </p>
            <% } %>
        </div>
      </fieldset>
    </div>
  </body>
</html>